body {
	background-color: white;
	color: black;
}

h1 {
	text-align: center;
	font-size: 2.5em;	
}

#mapContainer {
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
	border: 1px solid black;
	fill: black;
}
